<a href="https://colab.research.google.com/github/hasanzeynal/Streamlit-Car-Price/blob/main/Modeling/car_price_prediction_with_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import tensorflow as tf
import pandas as pd

In [ ]:
miau

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/datasets/Car_price/train.csv')
test_df = pd.read_csv('/content/drive/MyDrive/datasets/Car_price/test.csv')
train_df.head(),test_df.head()

(         ID  Price  Levy Manufacturer    Model  Prod. year   Category  \
 0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep
 1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep
 2  45774419   8467     -        HONDA      FIT        2006  Hatchback
 3  45769185   3607   862         FORD   Escape        2011       Jeep
 4  45809263  11726   446        HONDA      FIT        2014  Hatchback

   Leather interior Fuel type Engine volume    Mileage  Cylinders  \
 0              Yes    Hybrid           3.5  186005 km        6.0
 1               No    Petrol             3  192000 km        6.0
 2               No    Petrol           1.3  200000 km        4.0
 3              Yes    Hybrid           2.5  168966 km        4.0
 4              Yes    Petrol           1.3   91901 km        4.0

   Gear box type Drive wheels   Doors             Wheel   Color  Airbags
 0     Automatic          4x4  04-May        Left wheel  Silver       12
 1     Tiptronic          4x4  04-May        Left wheel   Black        8
 2      Variator        Front  04-May  Right-hand drive   Black        2
 3     Automatic          4x4  04-May        Left wheel   White        0
 4     Automatic        Front  04-May        Left wheel  Silver        4  ,
          ID Levy Manufacturer   Model  Prod. year   Category Leather interior  \
 0  44020629    -   VOLKSWAGEN    Golf        2012  Hatchback               No
 1  45784798    -      HYUNDAI  Sonata        2012      Sedan              Yes
 2  45800257    -       NISSAN   Tiida        2005      Sedan               No
 3  45797981  975        VOLVO    XC90        2012       Jeep              Yes
 4  45814303    -         OPEL   Astra        1993  Hatchback               No

   Fuel type Engine volume    Mileage  Cylinders Gear box type Drive wheels  \
 0    Diesel     2.0 Turbo       0 km          4        Manual        Front
 1    Petrol           2.4   26000 km          4     Tiptronic        Front
 2    Petrol           1.5  168000 km          4     Automatic        Front
 3    Petrol           3.2  143000 km          6     Automatic          4x4
 4    Petrol           1.6  200000 km          4        Manual        Front

     Doors             Wheel     Color  Airbags  Price
 0  02-Mar        Left wheel      Grey       10    NaN
 1  04-May        Left wheel      Grey       10    NaN
 2  04-May  Right-hand drive  Sky blue        8    NaN
 3  04-May        Left wheel      Blue       12    NaN
 4  04-May        Left wheel     Black        0    NaN  )

In [ ]:
test_df.isna().sum(),train_df.isna().sum()

(ID                     0
 Levy                   0
 Manufacturer           0
 Model                  0
 Prod. year             0
 Category               0
 Leather interior       0
 Fuel type              0
 Engine volume          0
 Mileage                0
 Cylinders              0
 Gear box type          0
 Drive wheels           0
 Doors                  0
 Wheel                  0
 Color                  0
 Airbags                0
 Price               8245
 dtype: int64,
 ID                  0
 Price               0
 Levy                0
 Manufacturer        0
 Model               0
 Prod. year          0
 Category            0
 Leather interior    0
 Fuel type           0
 Engine volume       0
 Mileage             0
 Cylinders           0
 Gear box type       0
 Drive wheels        0
 Doors               0
 Wheel               0
 Color               0
 Airbags             0
 dtype: int64)