In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('final_data.csv')
df

,Unnamed: 0,make,type,year,engine,mileage,price_in_azn
0,0,Peugeot,Partner,2022,1.5,0.0,40000.0
1,1,Opel,Astra,2009,1.4,257000.0,9000.0
2,2,Mercedes,S 350,2014,3.0,150000.0,103700.0
3,3,Fiat,Doblo,2022,1.4,0.0,45800.0
4,4,Kia,Optima,2014,2.0,215000.0,29900.0
...,...,...,...,...,...,...,...
14971,14971,LADA,(VAZ) 2107,2007,1.6,55000.0,6200.0
14972,14972,Mercedes,Sprinter 311,2008,2.2,198000.0,25400.0
14973,14973,Mercedes,ML 250,2014,2.1,56000.0,59542.0
14974,14974,Mercedes,C 240,1999,2.4,187600.0,15300.0
14975,14975,Hyundai,H-1,2012,2.5,210000.0,23542.0

# Data Cleaning

In [52]:
df.replace({'price':{'':''}},inplace=True)

In [68]:
df['currency'] = df['price'].str.extract('($|AZN)')

In [84]:
import re
re.findall(r'\W+','61000 AZN')

[' ']

In [70]:
df

,car,price,details,prices,currency
0,Peugeot Partner,40 000 AZN,"2022, 1.5 L, 0 km",40,AZN
1,Opel Astra,9 000 AZN,"2009, 1.4 L, 257 000 km",9,AZN
2,Mercedes S 350,61 000 $,"2014, 3.0 L, 150 000 km",61,
3,Fiat Doblo,45 800 AZN,"2022, 1.4 L, 0 km",45,AZN
4,Kia Optima,29 900 AZN,"2014, 2.0 L, 215 000 km",29,AZN
...,...,...,...,...,...
14971,LADA (VAZ) 2107,6 200 AZN,"2007, 1.6 L, 55 000 km",6,AZN
14972,Mercedes Sprinter 311,25 400 AZN,"2008, 2.2 L, 198 000 km",25,AZN
14973,Mercedes ML 250,59 542 AZN,"2014, 2.1 L, 56 000 km",59,AZN
14974,Mercedes C 240,15 300 AZN,"1999, 2.4 L, 187 600 km",15,AZN
14975,Hyundai H-1,23 542 AZN,"2012, 2.5 L, 210 000 km",23,AZN